{% extends 'shop/basic.html' %}

{% block title %}{{ product.prod_name }} - MY AWESOME CART {% endblock %}
{% block css %}


{% endblock %}

{% block body %}
<div class="container my-4">
    <div class="row">
    <div class="col-md-4">
    <div class="row">
        <img src="/media/{{product.prod_img}}" width="300px" height="200px">
    </div>
        <div class="row my-2">
            <button class="btn btn-primary mx-2">Buy Now</button>
            <button class="btn btn-primary">Add To Cart</button>
        </div>

    </div>

    <div class="col-md-8">
        <h5>{{product.prod_name}}</h5>
        <p><b>Rs.{{product.prod_price}} </b></p>
        <p> <b> Published on: {{product.prod_pub_date}} </b></p>
        <p>{{product.prod_desc}}</p>
        <p><b> Manufactured by: {{product.prod_company}} </b></p>



    </div>
    </div>


</div>




{% endblock %}




{% block js %}
<script>
console.log('working');
if(localStorage.getItem('cart') == null){
var cart = {};
}
else
{
cart = JSON.parse(localStorage.getItem('cart'));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
}
$('.cart').click(function(){
console.log('clicked');
var idstr = this.id.toString();
console.log(idstr);
if (cart[idstr] !=undefined){
cart[idstr] = cart[idstr] + 1;
}
else
{
cart[idstr] = 1;
}
console.log(cart);
localStorage.setItem('cart', JSON.stringify(cart));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
});
$('#popcart').popover();
document.getElementById("popcart").setAttribute('data-content', '<h5>Cart for your items in my shopping cart</h5>');
</script>
{% endblock %}




